html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

.navBar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  background-color: pink;
}

.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 25%;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navBar ul .navItem {
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 20px;
  width: 5em;
  height: 2em;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20%;
}

.homeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  width: auto;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.52)), to(rgba(0, 0, 0, 0.829))), url("img/bg.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.829)), url("img/bg.jpg");
  background-attachment: fixed;
  background-position-x: center;
  z-index: 1;
}

.homeContainer .topContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1%;
}

.homeContainer .topContainer .nameHeader {
  font-size: 40px;
  font-family: 'Archivo Black', sans-serif;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 10%;
}

.homeContainer .topContainer button {
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
  border: none;
  background-color: #5ca8ff;
  color: white;
  padding: 2%;
  margin-top: 5%;
  border-radius: 20%;
}

.homeContainer .botContainer {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.homeContainer .botContainer .descItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

.homeContainer .botContainer .descItem .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.homeContainer .botContainer .descItem .header i {
  color: #5ca8ff;
  font-size: 25px;
}

.homeContainer .botContainer .descItem .header .descHeader {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  padding: 5%;
}
/*# sourceMappingURL=style.css.map */