html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

.navBar{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    
    ul{
        display: flex;
        list-style: none;
        .navItem{
            padding: 10px;
            margin: 2px;
        }
    }

    
}

.homeContainer{

    display: flex;
    flex-direction: column;

    .topContainer{

        display: flex;
        justify-content: space-around;


        .leftContainer{
            width: 40%;
            #brainImg{
                height: 300px;
                width: 450px;
            }
        }
    
        .rightContainer{
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .nameHeader{
                font-size: 40px;
            }

            .nameDesc{

            }
        }
    }
    .botContainer{
        margin-top: 100px;
        display: flex;
        justify-content: space-around;

        .descItem{

            .descHeader{

            }

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 30%;
        }
    }
}