$pinkColor: rgb(226, 170, 201);
$headerFont:  'Righteous', cursive;
$darkPink: rgb(141, 71, 132);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.navBar{
    position: absolute;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        width: 30%;

        .navItem{
            padding: 2%;
            margin: 1%;
            font-family: $headerFont;
            font-size: 1.2em;

            a{
                color: white;
                text-decoration: none;

                &:hover{
                    border-bottom: 3px solid $darkPink;
                }
            }
        }
    }
}


.homeContainer{

    min-height: 100vh;
    width: auto;
    display: flex;
    background-color: $pinkColor;
    background-attachment: fixed;
    z-index: 1;
    align-items: center;
    justify-content: space-around;

    .leftContainer{

        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: center;
        justify-content: space-between;

        .nameHeader{
            font-family: $headerFont;
            font-size: 40px;
        }

        button{
            background-color: white;
            border: none;
            padding: 2%;
            width: 50%;
            font-family: $headerFont;
            cursor: pointer;

            &:hover{
                background-color: $darkPink;
            }
        }
    }

    .rightContainer{

        width: 40%;

        img{    
            position: relative;
            z-index: 0;
            width: 80%;
            height:80%;
        }
    }
}